a:link {
	color: #0000ee;
	text-decoration: none;
}

a:visited {
	color: #0000ee;
	text-decoration: none;
}

a:hover {
	color: #0000ee;
	text-decoration: underline;
}

a:active {
	color: #0000ee;
	text-decoration: underline;
}

h1 {
	text-align: left;
	padding-top: 0px;
}

img {
	border: 0px;
}

body {
	font-size: 100%;
	font-family: sans-serif;
}

.hdrtable {
	border: 0px;
	width: 100%;
}

.hdrempty {
}

.hdrname {
	float: left;
	font-size: 250%;
	font-family: sans-serif;
	font-weight: bold;
}

.hdrlogo {
	float: right;
}

.hdrimg {
	border: 0px;
}

.hdrline {
	background-color: #f0f0f0;
	padding-top: 3px;
	padding-bottom: 3px;
}

.noborder {
	border: 0px;
}

td {
	padding-right: 6px;
	padding-left: 6px;
}

tr.shaded {
	background-color: #fafafa;
}

table.dataformat {
	border: 1px;
	border-collapse: collapse;
}

td.dataformat {
	padding-right: 5px;
	padding-left: 5px;
}

th.dataformat {
	padding-right: 5px;
	padding-left: 5px;
}

.bb {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.strikeout {
	text-decoration: line-through;
}

.contenttitle {
	font-size: 200%;
	font-weight: bold;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	padding-left: 20px;
}

.contentsubtitle {
	font-size: 150%;
	font-weight: bold;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#container {
	width: 100%;
	border: 0px;
}

#container .column {
	vertical-align: top;
}

#container .menu {
	background-color: #f8f8f8;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#container .menulist {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#container .menulist2 {
	margin: 0;
	margin-left: 30px;
	padding: 0;
	list-style-type: none;
}

#container .menuitem {
	margin: 0;
	padding: 0;
	padding-top: 4px;
	padding-bottom: 4px;
}

#container .menuitem2 {
	margin: 0;
	padding: 0;
	padding-top: 1px;
	padding-bottom: 1px;
}

#container .content {
	padding-left: 5px;
	background-color:#ffffff;
	width: 85%;
}

#container .spacer {
	padding: 0;
	background-color:#ffffff;
	width: 15%;
}

.posted {
	font-size: 70%;
}

.note {
	font-size: 80%;
}

td.ra {
	text-align: right;
	padding-right: 5px;
}
